<header>
    <div class = "title">
        <span >YMCA</span>
    </div>
    <nav>
        <a routerLink="programs">Programs</a>
        <a *ngIf="!this.userService.isLoggedIn()" routerLink="login">Login</a>
        <a *ngIf="!this.userService.isLoggedIn()" routerLink="register">Register</a>
        <div *ngIf="this.userService.isLoggedIn()" class="loggedin">
            <span >Hello {{this.userService.getFirstName()}}!</span>
            <a (click)="this.userService.logout()">Logout</a>

        </div>

    </nav>
</header>