

header{
    background-color: rgb(106, 126, 207);
    padding: 1em;
    display: flex;

}
div.title{
    width: 25%;
    color:white;
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 


div.loggedin span{
    padding: 1em;
    font-size: 1.5em;
    color: white;
}

nav{
    width: 75%;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}
a{
    height: auto;
    width: 5em;
    text-align: center;
    display: block;
    padding: 1em;
    background-color: rgb(199, 199, 199);
    margin: .25em;
    margin-left: 1em;
    color: black;
    border-radius: .25em;
    text-decoration: none;
    font-size: 1.25em;
}

a:hover {
    background-color: cadetblue;
}