<div>
    <form [formGroup]="form" (ngSubmit)="register()">
        <div class="input-field">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email"  id="email" required >
        </div>
        <div class="input-field">
            <label for="first-name">First Name</label>
            <input formControlName="firstname" type="text" id="first-name" required>
        </div>
        <div class="input-field">
            <label for="last-name">Last Name</label>
            <input id="last-name" formControlName="lastname" type="text" required>
        </div>
        <div class="input-field">
            <label for="street-address">Street Address</label>
            <input id="street-address" formControlName="address" type="text" required>
        </div>
        <div class="input-field">
            <label for="zipCode">Zip Code</label>
            <input id="zipCode" formControlName="zipCode" type="text" required>
        </div>
        <div class="input-field">
            <label for="phone">Phone Number</label>
            <input id="phone" formControlName="phoneNumber" type="tel" required>
        </div>
        <div class="input-field">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" required>
        </div>
        <div class="input-field">
            <label for="confirm-password">Confirm password</label>
            <input formControlName="confirmPassword" type="password" required>
        </div>
        <div>
            <button id="confirm-password" type="submit">Register</button>
            <div class="error-msg">{{errorText}}</div>
        </div>
    </form>
    
</div>
