ul{
    list-style: none;
    padding: 1em;
}
li{
    padding: 1em;
    border: 1px black solid;
}
button{
    padding: 1em;
    margin: 1em;
    border-radius: 5%;
    color: white;
}

table{
    border: 1px black solid;
}
td{
    padding: 1em;
    border: 1px black solid;
}
th{
    background-color: lightgray;
    padding: 1em;
    border: 1px black solid;
}
button.promote{
    background-color: rgb(88, 180, 88);
}

button.demote{
    background-color: rgb(194, 118, 118);
}
button:hover{
    cursor: pointer;
    filter: brightness(125%);
}
div.page{
    padding: 1em;
}

.hide{
    display: none;
}

.filterForm{
    padding: 1em;
    font-size: 1.25em;
}