<div *ngFor="let program of programs" class="program">
    <div class="header">
        <div class="name">{{ program?.name }}</div>
        <div class="date">{{ program?.date | date:'mediumDate' }}</div>
    </div>

    <p class="description">{{ program?.description }}</p>

    <div class="base">
        <div *ngIf="program?.currentCapacity == program?.maximumCapacity">Program is full</div>
        <button (click)="showModal(program.programID, false)"
            [disabled]="program?.currentCapacity == program?.maximumCapacity"
            *ngIf="!userSignedUp(program.programID)">Sign Up</button>
        <button *ngIf="userSignedUp(program.programID)" (click)="showModal(program.programID, true)">Edit Registration</button>
    </div>
</div>