.program {
    padding: 1em;
    border: 1px solid #ccc;
    width: 60%;
    margin:auto;
    margin-top: 1em;
    min-height: 175px;
    position: relative;
}

.name {
    width:75%;
    float: left;
    font-size: 2em;
}

.date {
    width:25%;
    float: right;
    text-align: right;
}

.description {
    clear: both;
    font-size: 1em;
}

.base {
    bottom: 0;
    position: absolute;
    margin-bottom: 1em
}

button {
    padding: 1em;
    margin: 0.5em;
}
