div {
    padding: 1.5em;
    min-height: 5em;
    background-color: white;
    width: 25em;
}

.notif {
    background-color: rgb(240, 240, 240);
    width: 18em;
    margin: auto;
    margin-top: 1em;
    border-radius: 25px;
}

h3 {
    background-color: white;
}
