<body>
    <div *ngFor="let program of programs" class="program">
        <h1 class="header">
            <span class="name">{{ program.name }}</span>
            <span class="date">{{ program.offeringDateFrom | date:"mediumDate"}} - {{ program.offeringDateTo | date:"mediumDate"}}</span>
            <span class="date">{{ program.startTime | convert24To12 }}</span>
        </h1>
        <div class="info"> 
            <span>Current Capacity: {{program?.currentCapacity}}/{{program.maximumCapacity}}</span>
            <span>Price: ${{this.userService.isMember() ? program.price/2 : program.price}}</span>
            <span>Location: {{program.location}}</span>
            <span>Duration: {{program.length}} min</span>
            <p>Description: {{ program.description }}</p>
            <p><strong>Days Offered:</strong></p>
            <ul>
                <li *ngFor="let day of program.daysOffered" class="day-list">{{day}}</li>
            </ul>
        </div>
    
        <div *ngIf="this.userService.isLoggedIn()" class="base">
            <div *ngIf="program?.currentCapacity == program.maximumCapacity">Program is full</div>
            <button (click)="showSignupModal(program.programID!, false)"
                [disabled]="program.currentCapacity == program.maximumCapacity"
                *ngIf="!userSignedUp(program.programID!)">Sign Up</button>
            <button *ngIf="userSignedUp(program.programID!)" (click)="showSignupModal(program.programID!, true)">Edit
                Registration</button>
        </div>
    </div>    
</body>
