img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    display: block;
}

.program {
    padding: 1em;
    border: 1px solid #ccc;
    margin:auto;
    margin-top: 1em;
    min-height: 175px;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    max-width: 50em;
}

table {
    width: 100%;
}


.notif {
    margin-right: auto;
    position: relative;
}

.nologin{
    padding: 1em;
    margin: auto;
    width: 60%;
    position: relative;
    font-size: 1.5em;
    color: red;
    border: 1px solid black;
    background-color: rgb(255, 255, 207);
}
.header{
    font-size: 1em;
    border-bottom:1px solid black;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.name {
    align-self: left;
    font-size: 2em;
}

.date {
    align-self: right;
    text-align: right;
    display: block;
}

.info {
    clear: both;
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.info span{
    display: block;
}


.base {
    flex: absolute;
}

button {
    padding: 1em;
    margin: 0.5em;
}

.day-list {
    margin-left: 2em;
}
body{
    padding:1em;
    background-image: url("../../assets/background.png");
    background-size:cover;
}