<h1 mat-dialog-title class="title">{{program.name}}<h1 mat-dialog-title class="date">{{program.offeringDateFrom | date:'mediumDate'}}</h1></h1>
<mat-dialog-content>
    <div class="info"> 
        <span>Current Capacity: {{program.currentCapacity}}/{{program.maximumCapacity}}</span>
        <span>Price: ${{this.userService.isMember() ? program.price/2 : program.price}}</span>
        <span>Location: {{program.location}}</span>
        <p>Description: {{ program.description }}</p>
    </div>
</mat-dialog-content>



<div class="controls">
    <label># of Registrants:</label>
    <input id="numRegistered" [(ngModel)]="numRegistered" class="sign-up">
    <button mat-button class="sign-up" (click)="signUp()" *ngIf="!edit">Sign Up</button>
    <button mat-button class="sign-up" (click)="cancelRegistration()" *ngIf="edit && this.numRegistered == 0">Cancel Registration</button>
    <button mat-button class="sign-up" (click)="cancelRegistration()" *ngIf="edit && (this.numRegistered > 0)">Edit Registration</button>
    <button mat-button mat-dialog-close class="cancel">Cancel</button>
</div>  

